.centered-content {
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.site-container  {
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 300px;
  margin: auto;
}

.followup-container {
  direction: rtl; 
  text-align: right; 
  margin: 20px 0; 
}

.appointment-list {
  display: flex; 
  flex-direction: row; 
  justify-content: flex-start; 
  list-style: none; 
  padding: 0; 
}

.appointment-item {
  margin-left: 20px; 
  padding: 10px; 
  border-radius: 8px;
  min-width: 150px; 
  background-color: rgba(255, 255, 255, 0.9); 
}


h1, h2 {
  color: #333;
  margin-bottom: 20px;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: #f9f9f9;
  font-family: Arial, sans-serif;
  direction: rtl;
  width: 100%;
}


.site-form label, .centered-content label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: #555;
}

.site-form input, .centered-content input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.site-form button, .button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.site-form button:hover, .button:hover {
  background-color: #0056b3;
}

.navbar {
  background-color: darkslategray;
  padding: 10px;
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 15%;
  z-index: 1000;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 15px;
  margin: 5px 0;
  font-weight: bold;
  text-align: center;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  background: cadetblue;
}

.navbar a:hover {
  background-color: #0056b3;
}

.centered-content {
  display: flex;
  flex-direction: column;
  height: 300px;
}

.centered-buttons {
  display: flex;
  gap: 20px;
  margin-top: 20px; 
}

.button {
  text-decoration: none;
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
}

.cancel-button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

.cancel-button:hover {
  background-color: #ff3333;
}

.flash-messages {
  margin: 10px 0;
}

.alert {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
}

.alert.warning {
  background-color: #ffdd57;
  color: #856404;
}

.alert.danger {
  background-color: #f8d7da;
  color: #721c24;
}

.modal {
  display: none; 
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fff;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  text-align: center;
  font-size: 16px;
  border-radius: 5px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
}
.flash-messages {
  margin: 10px 0;
}

.alert {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.alert.success {
  background-color: #d4edda;
  color: #155724;
}

.alert.danger {
  background-color: #f8d7da;
  color: #721c24;
}
input.error {
  border: 2px solid red;
}

.success-message {
  color: green;
  font-weight: bold;
}

.error-message {
  color: red;
  font-weight: bold;
}
.form-group {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.form-group label {
  width: 100px; 
  margin-left: 10px;
  text-align: right;
}

.form-group input {
  flex: 1;
  padding: 5px;
}
.birthdate-select select {
  direction: rtl;
  text-align: right;
  width: 30%;
  margin: 0 15px 0 0;
  font-size: 1rem;
}
.birthdate-select {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.dashboard .centered-content button{
  height: 30px;
  margin-right: 110px;}
.error-message {
  background-color: #f8d7da; 
  color: #721c24; 
  padding: 15px; 
  border-radius: 5px; 
  margin-bottom: 15px; 
  text-align: center; 
  /* display: none;  */
  font-weight: bold; 
}
.dashboard{
  display: flex;
  flex-direction: column;
  width: 85%;
  padding: 0 20%;
}